.text-orange {
  color: orangered !important;
}

.bg-gray {
  background-color: #f4f3f3;
}

.bg-orange {
  background-color: orangered;
}

.navbar {
  height: 7vh;
}

.container-blog-form {
  height: 93vh;
}

.container-blog-form form {
  width: 430px;
}

.container-blog-form form input,
textarea {
  border: 2px solid rgb(199, 199, 199) !important;
  background-color: rgb(234, 234, 234) !important;
}

.container-blog-form form label {
  font-size: 20px;
  font-weight: 700;
}
